Package: emacs-murshies
Version: {{ emacs_version }}
Maintainer: murshies
Architecture: {{ architecture }}
Description: GNU Emacs with libjansson JSON support, native compilation, and the Athena toolkit
